.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.env
.env.*
node_modules/
public/
dist/
build/
*.log
.vercel/
.idea/
.vscode/
Thumbs.db
.DS_Store
